*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(233, 233, 233);
}
/*...................*/
#head{
    text-align: center;
    font-size: 230%;
    margin: 10px 0;
    animation-name: colors;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
/*.........................*/
.navigation{
    list-style-type: none;
    display: flex;
    justify-content: end;
    margin-right: 20px;
}
.navigation li a{
    margin-right: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bolder;
}
.navbg{
    background-color: rgba(2, 1, 12, 0.384);
    padding: 10px 0;
    margin: 0;
    width: 100%;
    border-bottom: 2px solid blue;
    display:flex ;
    justify-content: end;
}
.logo{
    width: 30px;
    height: 30px;
    margin-right: auto;
    margin-left: 10px;
}
/*.......................................*/
.content{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    margin-left: 130px;
    margin-top: 50px;
}

.content li{
    list-style-type: none;
    width: 30%;
    
}
.content li details summary {
    list-style: none;
    cursor: pointer;
    margin-left: 50%;
    transform: translate(-67% , -60%);
    margin-top: 20px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bolder;
    animation-name: colors;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes colors {
    0% {
        color: rgb(2, 0, 0);
    }
    50% {
        color: rgb(97, 43, 43);
    }
    100% {
        color: rgb(15, 23, 99);
    }
}
.content li details ul li a{
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bolder;
}
.content li img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.foot p{
margin-top: 15%;
text-align: center;
width: 100%;
background-color: rgb(70, 69, 69);
padding: 12px 0;
}
/*.................................*/
.shop_main{
    width: 90%;
    margin: auto;
}
.shop_main img{
    width: 250px;
    height: 200px;
}
#meat{
            font-size: 230%;
            margin: 10px 0;
            animation-name: colors;
            animation-duration: 2s;
            animation-iteration-count: infinite;
}
#carrot {
    font-size: 230%;
    margin: 10px 0;
    animation-name: colors;
        animation-duration: 2s;
        animation-iteration-count: infinite;
}
#fruit {
    font-size: 230%;
    margin: 10px 0;
    animation-name: colors;
        animation-duration: 2s;
        animation-iteration-count: infinite;
}

.sec{
    display: flex;
    justify-content: space-between;
}
/*..................................*/
.side-image{
    width: 50%;
    height: auto;
}
.abuot_main{
    display: flex;
    width: 90%;
    margin: auto;
}
/*..................................*/
.form{
    width: 50%;
    height: auto;
    margin-left: 42%;
}
.form input{
    margin: 5px;
}

.form label {
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
}
.form .sub{
    width: 100px;
    height: 30px;
    background-color: rgb(9, 105, 143);
    margin-left: 50px;
}
/*....................................*/
